/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterix wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: rgb(161, 104, 104);
    padding: 8.5% 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 4px #3a3a3a;
    flex-direction: column;
}

.flex-container {
    flex-direction: column;
    margin-left: 30px;
}

header a {
    text-decoration: none;
    color: #252525;
}

h1 {
    color: #ffffff;
    font-size: 32px;

}

/* Navbar */
nav {

    position: relative;
    width: 100%;
    margin-left: 4px;

    /*display:none; */
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
    justify-content: flex-start;
}

#menu>li {
    display: inline;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* Main Content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 150px;
}


/* Salutation section */
#salutation {
    height: 80vh;
    width: 100%;
    background: url('../images/morning salutation.jpg') no-repeat center center/cover;
    position: relative;
    

}

#cover-text {
    color: white;
    font-size: 130%;
    padding: 15px 20px 15px 25px;
    width: 80%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
}

/*who are we*/
#who {
    background-color: rgba(161, 104, 104, 0.6);
    height: fit-content;
    padding: 10%;

}

/* History section */
#history {
    height: 80vh;
    width: 100%;
    background: url('../images/swirls.jpg') no-repeat center center/cover;
    position: relative;

}

#history-cover-text {
    color: white;
    font-size: 130%;
    padding-left: 25px;
    padding-top: 20px;
    width: 80%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);

}

#what {
    background-color: rgba(161, 104, 104, 0.6);
    height: fit-content;
    width: auto;
    padding: 10% 5%;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%;
  }   


/* Joinus section */
#joinus {
    height: 80vh;
    width: 100%;
    background: url('../images/sunset.jpg') no-repeat center center/cover;
    position: relative;
    

}

#joinus-cover-text {
    color: white;
    font-size: 130%;
    padding-left: 25px;
    padding-top: 20px;
    width: 80%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
}

#form {
    background-color: rgba(161, 104, 104, 0.6);
    height: fit-content;
    width: 100%;
    padding-left: 15%;

}

#form h2 {
    display: flex;
    align-items: center;
}

#sign-up {
    width: 80%;
}

#location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}


.join-button {
    margin-top: 10px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: rgb(161, 104, 104);
    text-align: center;
    color: #fafafa;
    margin-bottom: 10px;

}

#information {
    padding-top: 10px;
    padding-bottom: 10px;
}

#classes {
    display: table;
    
   
    padding-top: 10px;
    padding-bottom: 10px;
}

.radio {
    display: flex;
    justify-content: space-between;
}

/* Times Table */
#timestable {

    width: 100%;
    color: #ffffff;
    background: url('../images/lakeview.jpg') no-repeat center center/cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    height: 300px;
    margin-bottom: 0;
    border-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#timestable div {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    
    flex-grow: 0;
    border: rgba(161, 104, 104, 0.6) solid 5px;
}


.week {
    height: auto;
    flex-basis: 100%;
    padding-bottom: 10px;
    
}

.sat,
.sun {
    height: auto;
    flex-basis: 50%;
    padding-bottom: 10px;
   
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(161, 104, 104);
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 425px) {

    /* Header */
    header {
        padding: 6.25%;
    }

    h1 {
        font-size: 32px;
    }

    #cover-text {
        padding: 25px 20px 20px 25px;
    }
    #jphistory {
        background: url('../images/jphistory.png') no-repeat center center;
              height: 100vh;}

    /* form */
    

    }

    #sign-up {
        width: 80%;
    }

    #classes {
        justify-content: flex-start;
    }

    #location {
        justify-content: flex-start;
    }

}

@media screen and (min-width: 768px) {

    /* Header */
    header {
        padding: 6%;
        background-color: rgb(161, 104, 104); 
          
    }

    h1 {
        font-size: 42px;
    }

    #menu {
        font-size: 20px;
    }

    #salutation {
        margin-top: 13px;
    }

    /* classes */
    #classes {
        justify-content: flex-start;
    }

    #what {
        padding: 5% 5%;
    }
    img {
        width: 30%;
        margin-top: 40px;
         }
}

@media screen and (min-width: 1024px) {

    /* Header */
    header {
        padding: 4.5%;
    }

    h1 {
        font-size: 52px;
    }

    #menu {
        font-size: 24px;
    }

    #salutation {
        margin-top: 30px;
    }

    #history {
        margin-top: 34px;

    }
    #what {
        padding: 2% 5%;
    }
    #jphistory {
        background: url('../images/jphistory.png') no-repeat center center;
        height: 70vh;      
    }

    #joinus {
        margin-top: 34px;
    }
}

@media screen and (min-width: 1440px) {

    /* Header */
    header {
        padding-bottom: 45px;
        padding-top: 45px;
        background: url('../images/mclogo15.png') no-repeat center right/center ;
        
    }

    h1 {
        font-size: 68px;
    }

    #menu {
        font-size: 32px;
    }

    main {
        display: flex;
        align-items: flex-start;
    
    }

    #salutation {
        margin-top: 61px;
        height: 100vh;
        width: 50%;
    }

    #who {
        background-color: rgba(161, 104, 104, 0.6);
        height: 50%;
        margin-top: 61px;
        padding: 20%;
    }

    #timestable {
        height: 50%;
        width: auto;
        flex-basis: 70%;
        align-self: flex-end;
        justify-self: center;
    }

    #who-timestable {
        flex-direction: column;
        height: 100vh;
        width: 50%;

    }

    
    #history {
       margin-top: 60px;
        height: 100vh;
        width: 50%;
    }

    #what {
        margin-top: 60px;
        width: 50%;
        height: 100vh;
            }

    #what p {
        font-size: 24px;
    }
           img {
            margin-top: 50px;
            width: 80%;
            }

    #joinus {
        margin-top: 60px;
        height: 100vh;
        width: 50%;
    }

    #form {
        width: 50%;
        height: 100vh;
        margin-top: 60px;
        padding-top: 10%;
    }

    h3 {
        margin-top: 40px;
    }

    #sign-up h2 {
        margin-top: 50px;
    }

    #form h2 {
        margin-top: 30px;
    }

    #information {
        margin-top: 30px;
    }

    #classes {
        margin-top: 20px;

    }

}
@media screen and (min-width: 2560px) {

#who { 
align-content:center;
padding: 5%;
}

#joinus {
    height: 100vh;
}
#form {
    height: 100vh;
}

}