
.movingcatlogo {
    display:Block;
    margin-left: 0;
    margin-right: auto;
    width: 50%;
    height: 50%;
    text-align: left;   

}
.flex-container {
    display:flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}    
