/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterix wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}


/* Header */
header {
    background-color: #ffffff;
    padding: 1rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 4px #3a3a3a;
    display: flex;   
}

header a {
    text-decoration: none;
    color: #252525;
}
h1 {
    font-family: 'Oswald', sans-serif;

}
.mclogo {
    
    width: 100%;
    height: 100px;

    
}

#quote {
    font-family: 'Sofia', sans -sarif;
    font-size: 70%;
    color: rgb(3, 117, 3);
}

/* Navbar stles with dropdown toggle */
nav {
   
    position:absolute;
    background-color: #ffffff;
    width: 100%;
    margin-left: 4px;
    /*display:none; */
}

#menu {
    font-size: 100%;
    letter-spacing:  4px;
    list-style-type: none;
   }

   #menu > li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}
/* Main Content*/

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Salutation section */
#salutation {
    height: 600px;
    width: 100%;
    background: url('../images/morning salutation.jpg') no-repeat center center/cover;
    position: absolute;
}