/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterix wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    line-height: 1.6;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    display: flex;
    position: relative;
    background-color: rgb(161, 104, 104);
    padding: 3% 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 4px #3a3a3a;
    flex-direction: column;
}

.flex-container {
    flex-direction: column;
    margin-left: 30px;
}

header a {
    text-decoration: none;
    color: #252525;
}

h1 {
    color: #ffffff;
    font-size: clamp(2rem, 3vw, 5rem);

}

/* Navbar */
nav {

    display: grid;
    flex-direction: row;
    width: 100%;
    margin-left: 4px;   
}

#menu {
    font-size: 1.5rem;
    letter-spacing: 4px;
    list-style-type: none;
    justify-self: start;
}

#menu>li {
    display: inline;
}

nav ul {
    display: grid;
    list-style-type: none;
    flex-direction: column;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color:#000
}

.active {
    border-bottom: 1px solid #3a3a3a;
}
 /*a {
    font-size: 1rem;
 }*/

/* Main Content */
main {
    /* Make main element take up any surplus space to push footer down */
    /*flex: 1 0 auto;*/
    /*margin-top: -20px;*/
}


/* Salutation section */
#salutation {
    height: 80vh;
    width: 100%;
    background: url('../images/morning-salutation.webp') no-repeat center center/cover;
    position: relative;
    text-align: center;
}

/* Cover Text */
#cover-text {
    color: white;
    font-size: 1rem;
    padding: 15px 20px 15px 25px;
    width: 100%;
    color: #ffffff;
    /*background-color: rgba(0, 0, 0, 0.6);*/
}
/*#cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}*/

/*who are we section*/
#who {
    background-color: rgba(161, 104, 104, 0.5);
    height: fit-content;
    padding: 10%;

}

/* Times Table section */
#timestable {

    width: 100%;
    color: #ffffff;
    background: url('../images/lakeview2.webp') no-repeat center center/cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-bottom: 0;
    border-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#timestable div {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;    
    border: rgba(161, 104, 104, 0.6) solid 5px;
    width: 30%;
}

#timestable h2 {
    background-color: rgba(161, 104, 104, 0.5);
}

#timestable h3 {
    font-size: 1.5em;
}

#timestable p {
    font-size: 1.2em;
}

.week {
    height: auto;
    flex-basis: 100%;


}

.sat,
.sun {
    height: auto;
    flex-basis: 50%;

}

/* History section */
#history {
    height: 80vh;
    width: 100%;
    background: url('../images/swirls2.webp') no-repeat center center/cover;
    position: relative;

}

/* History Cover Text */
#history-cover-text {
    color: white;
    font-size: 1rem;
    padding-left: 25px;
    padding-top: 20px;
    width: 100%;
    color: #ffffff;
    /*background-color: rgba(0, 0, 0, 0.6); */   

}

/* What section */
#what {
    background-color: rgba(161, 104, 104, 0.5);
    height: fit-content;
    width: auto;
    padding: 10% 5%;

}

/* Image in history section */
img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%;
}


/* Joinus section */
#joinus {
    height: 80vh;
    width: 100%;
    background: url('../images/sunset.webp') no-repeat center center/cover;
    position: relative;

}

/* joinus covet text */
#joinus-cover-text {
    color: white;
    font-size: 1rem;
    padding-left: 25px;
    padding-top: 20px;
    width: 100%;
    color: #ffffff;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    
    
}

/* Form section */
#form {
    background-color: rgba(161, 104, 104, 0.5);
    height: fit-content;
    width: 100%;
    padding-left: 15%;
}

#form h2 {
    display: flex;
    align-items: center;
}

#sign-up {
    width: 80%;
}

#location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

#location p {
    font-size: 1rem;
}

.input {
    margin-left: 10px;
}

#man {
    margin-left: 14px;
}

#edin {
    margin-left: 5px;
}

.join-button {
    margin-top: 10px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 2rem;
    background-color: rgb(161, 104, 104);
    text-align: center;
    color: #fafafa;
    margin-bottom: 10px;

}

.join-button:hover {
    background-color: #fff;
    color: #000;
}

#information {
    padding-top: 10px;
    padding-bottom: 10px;
}

#classes {
    display: table;
    padding-top: 10px;
    padding-bottom: 10px;
}

.radio {
    display: flex;
    justify-content: space-between;
}

/* Footer */

footer {
    background: rgb(161, 104, 104);
    color: #fff;
    padding: 10px;
    text-align: center;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(161, 104, 104);
}

#social-networks i {
    font-size: 3rem;
    padding: 5%;
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 425px) {

    /* Header */
    header {
        padding: 6.25%;
    }

    #cover-text {
        padding: 25px 20px 20px 25px;
    }

    /* form */

    #sign-up {
        width: 80%;
    }

    #classes {
        justify-content: flex-start;
    }

    #location {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 768px) {

    /* Header */
    header {
        padding: 6.5%;
        background-color: rgb(161, 104, 104);

    }

    .flex-container{
        flex-direction: column;
        align-items: flex-start;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
    nav ul li {
        margin-bottom: 10px;
    }
    
    #menu {
        font-size: 2rem;
    }

    #salutation {
        margin-top: 13px;
    }

    /* classes */
    #classes {
        justify-content: flex-start;
    }

    #what {
        padding: 5% 5%;
    }

    img {
        width: 30%;
        margin-top: 40px;
    }

    #new {
        margin-left: 5px;
    }

    #man {
        margin-left: 5px;
    }
    main {
        margin-top: -22px;
    }
}

@media screen and (min-width: 1024px) {

    /* Header */


    #menu {
        font-size: 2rem;
    }

    #salutation {
        margin-top: 30px;
    }

    #history {
        margin-top: 34px;

    }

    #what {
        padding: 2% 5%;
    }


    #joinus {
        margin-top: 34px;
    }

    img {
        width: 20%;
    }

    main {
        margin-top: -42px;
        
    }

}

@media screen and (min-width: 1440px) {

    /* Header */
    header {
        padding-bottom: 75px;
        padding-top: 45px;
    }

    #menu {
        font-size: 2rem;
    }

    main {
        display: flex;
        align-items: flex-start;

    }

    #salutation {
        margin-top: 61px;
        min-height: 100vh;
        width: 50%;
    }

    #who {
        background-color: rgba(161, 104, 104, 0.6);
        height: 50%;
       
        padding: 10%;
    }

    #timestable {
        height: 50%;
        width: auto;
        flex-basis: 70%;
        
    }

    #who-timestable {
        display: flex;
        flex-direction: column;
        height: 95.7vh;
        width: 50%;
        margin-top: 29px;

    }


    #history {
        margin-top: 60px;
        height: 100vh;
        width: 50%;
    }

    #what {
        margin-top: 60px;
        width: 50%;
        height: 100vh;
    }

    #what p {
        font-size: 1rem;
        padding-top: 25px;
    }

    img {
        margin-top: 50px;
        width: 50%;

    }

    #joinus {
        margin-top: 60px;
        height: 100vh;
        width: 50%;
    }

    #form {
        width: 50%;
        height: 100vh;
        margin-top: 60px;
        padding-top: 10%;
    }

    h3 {
        margin-top: 40px;
    }

    #sign-up h2 {
        margin-top: 50px;
    }

    #form h2 {
        margin-top: 30px;
    }

    #information {
        margin-top: 30px;
    }

    #classes {
        margin-top: 20px;

    }

    footer {
        bottom: 0;
       
        width: 100%
    }
    main {
        margin-top: -62px;
      
        
    }

}

@media screen and (min-width: 2560px) {
    
    #who {
        align-content: center;
        padding: 5%;
        font-size: 2rem;
    }

    #timestable p {
        font-size: 2rem;
    }

    #joinus {
        height: 100vh;
    }

    #form {
        height: 100vh;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 3rem;
    }

    #what p {
        font-size: 2rem;
    }

        #what {
        padding: 5% 5%;
    }

    img {
        margin-top: 200px;
    }

    #information {
        font-size: 2rem;
    }

    input {
        height: 42px;
    }

    #location {
        font-size: 2rem;
    }

    #classes {
        font-size: 2rem;
    }

    .join-button {
        font-size: 5rem;
        padding: 30px 64px;
    }

    #social-networks {
        font-size: 3rem;
    }

    #information p {
        font-size: 2rem;
    }
     
    #who-timestable {
        min-height: 100vh;
    }

}