/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterix wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 1rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 4px #3a3a3a;
    display: flex;   
}
.flex-container {
    display:flex;
    flex-direction: column;
    margin-left: 30px;
   
    }
header a {
    text-decoration: none;
    color: #252525;
}

.mclogo {
    
    width: 80%;
    height: 100px;
    position: relative;      
}

#quote {
    font-family: 'Sofia', sans -sarif;
    font-size: 100%;
    color: rgb(3, 117, 3);
}

/* Navbar */
nav {
   
    position:relative;
    background-color: #ffffff;
    width: 100%;
    margin-left: 4px;
    
   
    /*display:none; */
}

#menu {
    font-size: 100%;
    letter-spacing:  4px;
    list-style-type: none;
    justify-content: flex-start;
   }

   #menu > li {
    display: inline;  
    }

.active {
    border-bottom: 1px solid #3a3a3a;
}
/* Main Content*/

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 150px;
    margin-bottom: 180px;
}


/* Salutation section */
#salutation {
    height: 600px;
    width: 100%;
    background: url('../images/morning salutation.jpg') no-repeat center center/cover;
    position: absolute;
}
#cover-text {
    color: white;
    font-size: 130%;
    padding-left: 25px;
    padding-top: 20px;
    width: 80%;
}